.container {
  width: 100%;
  min-height: fit-content;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

/* Right Container CSS */
.rightContainer {
  width: 30%;
}

.headingWrapper {
  margin: 1rem 0 0 1rem;
  font-size: 1.5rem;
  letter-spacing: 0.0625rem;
  color: #2d2d2d;
}

.cardWrapper {
  width: 100%;
  height: fit-content;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  margin: 0 0 1rem 0;
  padding: 1rem 1rem 0 1rem;
}

.subcardWrapper {
  display: flex;
  justify-content: flex-start;
}

.imageWrapper img {
  width: 6.25rem;
  height: fit-content;
}

.contentWrapper {
  margin: 0 0 0 1rem;
}

.contentWrapper h2,
p {
  margin: 0 0 1rem 0;
}

.contentWrapper span {
  color: gray;
}

.contentWrapper h2 {
  font-size: 14px;
  font-weight: bold;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 3rem;
  border-top: 1px solid lightgray;
  margin-top: 0.5rem;
}

.buttonWrapper button {
  width: 100%;
  color: #faa619;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.buttonWrapper button:first-child {
  border-right: 1px solid lightgray;
}

/* Left Container CSS */
.leftContainer {
  width: 68%;
  height: fit-content;
}

.pincodeWrapper {
  width: 100%;
  height: 6.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  margin: 0 0 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.pincodeWrapper input {
  border: 1px solid lightgray;
  padding: 0.3125rem;
  width: 65%;
  border-radius: 0.3125rem;
}

.pincodeWrapper button {
  padding: 0.3125rem 0.625rem;
  background-color: #faa619;
  border-radius: 0.3125rem;
}

.priceWrapper {
  width: 100%;
  height: fit-content;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  margin: 0 0 1rem 0;
  padding: 1rem;
}

.priceWrapper p {
  display: inline-block;
}

.priceWrapper div {
  display: flex;
  justify-content: space-between;
  margin: 0 0 1rem 0;
}

.priceWrapper div:nth-child(2) p {
  color: #4fc84f;
}

.priceWrapper div:nth-child(4) {
  border-top: 1px solid lightgray;
  padding: 1rem 0 0 0;
  font-size: 1.125rem;
  font-weight: bold;
}

.priceWrapper div:nth-child(5) {
  width: 100%;
  height: 3rem;
}

.priceWrapper div:nth-child(5) button {
  width: 100%;
  height: 3rem;
  background-color: #faa619;
  font-weight: bold;
  color: white;
}

.priceWrapper div:nth-child(6) {
  width: 100%;
  font-size: 0.875rem;
  background: lightgray;
  padding: 0.3125rem;
}
