
.nav_main{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    padding: 0px 21px;
    position: relative;
    box-sizing: inherit;
    background-color: rgb(247, 248, 247);
    position: sticky;
   top: 0; 
   z-index: 1200;
    box-shadow: 0 1px 0 0 #ecedeb;
   
}
.nav_first_section_parent{
    display: flex;
    border: 2px solid rgb(0, 2, 148);
}
.logo_box{
    width: 40%;
}
.nav_links{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(241, 18, 18);
   
}
.option_box{
    border-right: 1px solid #d7d8d6;
    /* column-rule: 1px solid #ecedeb; */
}
.option_heading{
    color: #000000;
    cursor: pointer;
    font-size: 14px;
    font-style: normal;
    transition: ease-in 0.2s;
    font-family: ProximaNova-Semibold,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 2px;
}
.inner_box{
    margin-top: 20px;
}
.option_heading:hover{
    color: #faa619;
}
.option{
    color: #5d5e5c;
    cursor: pointer;
    font-size: 13px;
    font-style: normal;
    transition: ease-in 0.1s;
    font-family: ProximaNova-Regular,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-weight: 400;
    line-height: 18px;
    transition: ease-in 0.2s;
    margin-bottom: 2px;
}
.option:hover{
    color: #faa619;
}
.navlink_default{
    display: block;
    font-size: 16px;
   font-weight: normal;
   color: #000000;

    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: ProximaNova-Semibold,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}
.navlink_default:hover{
    color: #faa619;
}
.navlink_active{
    /* color: aqua; */
    color: #faa619;
    display: block;
    font-size: 16px;
    font-weight: normal;
    font-family: ProximaNova-Semibold,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

.hover_box{
    position: absolute;
    left: 0;
    right: 1;
    top: 100%;
    padding: 20px;
    width: 100%;
    /* border: 1px solid black; */
    background-color: white;
    display: none;
}
.hover_box>div{
    width: 15%;
}

.dropdown_box{
    /* border: 1px solid yellow;
    background-color: white; */
    height: 100%;
    align-items: center
    ;
    display: flex;
   
    
}

.dropdown_box:hover .hover_box{
display: flex;
justify-content: space-between;
}
.search_box{
    border: 1px solid rgb(65, 226, 1);
    width: 31%;
}
.nav_signup_cart_box{
    display: flex;
    width: 22%;
    border: 3px solid black;
}
