.nav_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 0px 21px;
}
.nav_first_section_parent{
    display: flex;
    border: 2px solid rgb(0, 2, 148);
}
.logo_box{
    width: 40%;
}
.nav_links{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(241, 18, 18);
}
.search_box{
    border: 1px solid rgb(65, 226, 1);
    width: 31%;
}
.nav_signup_cart_box{
    display: flex;
    width: 22%;
    border: 3px solid black;
}